*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#0f0f0f;
  color:white;
  font-family:sans-serif;
}

/* PAGE */

.page{
  display:none;
  min-height:100vh;
  padding:20px;
  padding-bottom:90px;
}

.page.active{
  display:block;
}

/* TITLE */

.title{
  font-size:30px;
  margin-bottom:20px;
}

/* GRID */

.video-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  gap:15px;
}

/* CARD */

.video-card{
  background:#181818;
  border-radius:18px;
  overflow:hidden;
  cursor:pointer;
}

.video-card img{
  width:100%;
  display:block;
}

.video-info{
  padding:10px;
}

.video-info h3{
  font-size:14px;
}

.video-info p{
  font-size:12px;
  opacity:0.7;
}

/* INPUT */

input{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  background:#1c1c1c;
  color:white;
}

/* NAV */

.bottom-nav{
  position:fixed;
  bottom:0;
  width:100%;
  height:70px;
  background:#111;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.bottom-nav button{
  background:none;
  border:none;
  color:white;
  font-size:14px;
}

.upload-btn{
  width:55px;
  height:55px;
  border-radius:50%;
  background:white !important;
  color:black !important;
  font-size:28px;
}
button{
  margin-top:15px;

  padding:14px;

  width:100%;

  border:none;

  border-radius:12px;

  background:white;

  color:black;

  font-weight:bold;

  cursor:pointer;
}
